<?xml version="1.0" encoding="UTF-8"?>
<suite name="SuiteName">
    <listeners>
        <listener class-name="com.earn.Testcases.ExtentReporterNG" />
    </listeners>
    <test name="Test" allow-return-values="true">
        <classes>
            <class name="com.earn.Testcases.Reapeatchar" />
        </classes>
    </test>
</suite>